
<%-include('header')-%>

<!-- nails-studio -->
<section id="nails-studio">
    <div class="scroll-up"><i class="fas fa-chevron-circle-up"></i></div>
    <div class="appoint">
        <form action="/book"method="POST">
            <button id ="book-appoint" type="submit"> Book Appointment</button></div>
        </form>
    </div>
        
    <h1>Nail Studio</h1>
    <p>Style Your Nail is Style your Life</p>
    <a class="find-read" href="#galary"><span></span>Find Out</a>
    <a class="find-read" href="https://nailsbytim.herokuapp.com/service"><span></span> Read More</a>


</section>
<section id="about_us">
    <h1>About Us</h1>
    <div class="par">
        <P>Us Nail Salon on North Saint Augsutine rd of Valdosta, GA 31602. Getting your nails done should be an indulgence and our nail salon understands this. Our goal is not only creating beatiful nails but also making sure that our customers happy about our services.</P>
        
    </div>
    
    <img src="imgs/newpic3.jpg" alt="">
</section>
<!-- service -->
<section id="our_service">
    <img src="imgs/wall1.jpg" alt="">
    <div class="our_service_title">
        <h1>Us Nails</h1>
        <p>Our services</p>
        <i class="fab fa-canadian-maple-leaf"></i>
    </div>
</section>
<section id="services-container">
    <div id="services">
            <div id="service-single">
                <img src="imgs/manicure.jpg" alt="" class="pics">
                <span></span>
                <div class="price">
                    <h2>Manicure</h2>
                    <hr>
                    <ul>
                        <li>Gel: $30</li>
                        <li>Regular: $12</li>
                    </ul>
                </div>
                
            </div>
            <div id="service-single">
                <img src="imgs/pedicure.png" alt="" class="pics">
                <span></span>
                <div class="price">
                    <h2>Pedicure</h2>
                <hr>
                <ul>
                    <li>Express: $25</li>
                    <li>Sea Salt: $30</li>
                    <li>Parafin: $35</li>
                    <li>Deluxe: $40</li>
                    <li>Hot Stone: $45</li>
                    
                </ul>
                </div>
                
            </div>
            <div id="service-single">
                <img src="imgs/kids.jpg" alt="" class="pics">
                <span></span>
                <div class="price">
                    <h2>Kid( younger than 12 years old)</h2>
                <hr>
                <ul>
                    <li>Get discount $10</li>
                </ul>
                </div>
                
            </div>
            <div id="service-single">
                <img src="imgs/addi.jpg" alt="" class="pics">
                <span></span>
                <div class="price">
                    <h2>Dip nails</h2>
                    <hr>
                    <ul>
                        <li>Dip: $40</li>
                    </ul>
                </div>
               
            </div>
            <div id="service-single">
                <img src="imgs/dip.png" alt="" class="pics">
                <span></span>
                <div class="price">
                        <h2>Additional Services </h2>
                    <hr>
                    <ul>
                        <li>Adding $5 for parafin and hot stone</li>
                        <li>Adding $15 for gel poslish </li>
                        <li>Adding $5 and up for nails design</li>
                        <li>Adding $5 for special nails shape</li>
                    </ul>
                </div>
                
            </div>
            <div id="service-single">
                <img src="imgs/sample8.jpg" alt="" class="pics">
                <span></span>
                <div class="price">
                    <h2>Acrylic Nail</h2>
                    <hr>
                    <ul>
                        <li>Ombre: $60</li>
                        <li>White Tip: $40</li>
                        <li>Regular Full set: $30</li>
                        
                    </ul>
                </div>
               
            </div>
            <div id="service-single">
                <img src="imgs/waxing.jpg" alt="" class="pics">
                <span></span>
                <div class="price">
                    <h2>Waxing</h2>
                    <hr>
                    <ul>
                        <li>Eyesbrown: $10</li>
                        <li>Lips: $10 </li>
                        <li>Facial: $20</li>
                        
                    </ul>
                </div>
               
            </div>

    </div>
</section>
<!-- galary -->
<section id="galary">
    <div class="our_service_title" id="galary-intro">
        <h1>Us Nails</h1>
        <p>Our Album</p>
        <i class="fab fa-canadian-maple-leaf"></i>
    </div>

    <div class="galary-container">
        <div class="galary-single">
            <img src="imgs/sample2.jpg" alt="">
            <span></span>
        </div>
        <div class="galary-single">
            <img src="imgs/sample3.jpg" alt="">
            <span></span>
        </div>
        <div class="galary-single">
            <img src="imgs/sample4.jpg" alt="">
            <span></span>
        </div>
        <div class="galary-single">
            <img src="imgs/sample5.jpg" alt="">
            <span></span>
        </div>
        <div class="galary-single">
            <img src="imgs/sample7.png" alt="">
            <span></span>
        </div>
        <div class="galary-single">
            <img src="imgs/sample.jpg" alt="">
            <span></span>
        </div>
        <div class="galary-single">
            <img src="imgs/sample6.jpg" alt="">
            <span></span>
        </div>
        <div class="galary-single">
            <img src="imgs/sample8.jpg" alt="">
            <span></span>
        </div>
    </div>
    

</section>
<!-- customer reviews -->
<section id="customer-review">
    <div class="title-review">
        <h1>Us Nails</h1>
        <h2>What Client Says</h2>
    </div>
    <div class="reviews">
        <div class="customers">
            <div class="customer-pic-info"> 
                <img src="imgs/customer1.jpg" alt="">
                <div class="customer-info">
                    <h3>Julia</h3>
                    <small>1 review @<i class="fab fa-facebook-square" id="social"></i></small>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            
               
            </div>
            
            <p>The staff is amazing here! I go every 2 weeks to see Jason for an acrylic fill-in with gel polish. He great all the regulars by name. It amazes me that he remembers everyone. I have gotten the Deluxe pedicure several times from different people there. They have all did a great job! The place is super clean! Good vibes.</p>
        </div>
        <div class="customers">
            <div class="customer-pic-info"> 
                <img src="imgs/customer2.jpg" alt="">
                <div class="customer-info">
                    <h3>Jessica</h3>
                    <small>1 review @<i class="fab fa-facebook-square" id="social"></i></small>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            
               
            </div>
            
            <p>I agree this place is always busy, but it demonstrates the quality of their work. I have never had a bad experience when getting a manicure or pedicure particularly no chip and dips. It is quite a wait no matter what time you go, but worth it imho and they are always willing to correct any mistakes or "imperfections". The last time I went, in the middle of my manicure, the technician received an emergency call and had to step away and I had to wait for someone else to become available to finish. That was completely okay with me. It demonstrated they cared about this employee which speaks volumes. I'm going back tomorrow for a refresh and don't intend to give my business to anyone else.</p>
        </div>
        <div class="customers">
            <div class="customer-pic-info"> 
                <img src="imgs/customer3.jpg" alt="">
                <div class="customer-info">
                    <h3>Anna Nguyen</h3>
                    <small>1 review @<i class="fab fa-instagram" id="social-ins"></i></small>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            
               
            </div>
            
            <p>They are good if you go to the right people.  I got a horrible full set from here and one of the younger girls (Tia) was able to fix my nails.    Thank goodness because I do not like to waste money.  While I was here this week for a fill-in, another customer experienced what I experienced a couple of weeks ago.   Tia came to the rescue again.</p>
        </div>
    </div>
</section>
<%-include('footer')-%>
