     <!-- footer -->
     <section id="footer">
        <img class="img-footer" src="imgs/footer.jpg" alt="">
        <div class="footer-title">
            <h1>CONTACT</h1>
            <h2>Visit Shop Today</h2>
            <img src="imgs/footer-img2.jpg" alt="">
            
            
        </div>
        <div class="contact-info-container">
            <div class="infos-left">
                <div class="hours">
                    <h1>Opening Hours</h1>
                    <p><i class="far fa-clock"></i> Monday to Saturday -10am to 7pm</p>
                    <p><i class="far fa-clock"></i> Sunday -1pm to 6pm</p>
                 </div>
            </div>
            <div class="infos-right" >
                <div class="location">
                    <h1>Get In Touch</h1>
                    <p>4027 Gramercy Dr, Valdosta, Ga 31605<i class="fas fa-map-marker-alt"></i></p>
                    <p>timphamvn33@gmail.com <i class="fas fa-envelope"></i></p>
                    <p>229-848-4272 <i class="fas fa-phone"></i></p>
                </div>

            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3425.7836577152193!2d-83.31957728453592!3d30.836727587663443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88ee66bfd43df7e9%3A0xe6497c563238375d!2sU.S.%20Nails!5e0!3m2!1sen!2sus!4v1640136259822!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            
        
        </div>

    </section>
    
    <section id="copyright-container">
        <div class="social">
            <div class="social-icon">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
            <div class="copyright">
                <h2>Copyright Thuong Pham (Tim) 2021</h2>
            </div>
        </div>
    </section>
</body>
</html>