<%-include('headservice')-%>
<body>
    <section class="info">
        <div class= "info_detail1">
            <i class="fas fa-phone-volume"></i>
            <a href="#">229-848-4272</a>
        </div>
        <div class= "info_detail2">
            <i class="fas fa-envelope-open-text"></i>
            <a href="#">Timphamvn33@gmail.com</a>
        </div>
        
    </section>
    <section id="logo-nav">
        <nav>
            <div id="full_box_content">
                <ul >
                    <li><a href="https://nailsbytim.herokuapp.com/">HOME</a> </li> 
                    <li><a href="https://nailsbytim.herokuapp.com/#nails-studio">ABOUT US</a> </li>
                    <li> <a href="https://nailsbytim.herokuapp.com/#about_us">SERVICES</a> </li>
                    <li> <a href="https://nailsbytim.herokuapp.com/#galary">GALARY</a></li>
                    <li> <a href="https://nailsbytim.herokuapp.com/#footer">CONTACT</a> </li>
                </ul>
            </div>
            <img src="imgs/logo.png" alt="" class="logo">
            
            <div class="service-contain">
                <ul>
                    <li><a href="https://nailsbytim.herokuapp.com/">HOME</a></li>
                    <i class="fas fa-angle-right"></i>
                    <li><a href=""></a>SERVICES</li>
                </ul>
            
            </div>
        
        </nav>
    
    </section>
    <section id="title-menu">
        
        <div class="title-page">
            <h1>US Nails</h1>
            <h2>Services</h2>
        </div>
    </section>
    <div class="appoint">
        <form action="/book"method="POST">
            <button id ="book-appoint" type="submit"> Book Appointment</button></div>
        </form>
    </div>
    <section id="service-detail-container"> 
        <div class="service-detail">
            <div class="subtitle">
                <h1>Manicure</h1>
            </div>
            <div class="desc">
                <ul>
                    <li>Manicure Gel.................................................................... <small class="number">$30</small></li>
                    <li>Spa Manicure Add on................................................... <small class="number">$10</small></li>
                    <li>Basic Manicure.................................................................. <small class="number">$12</small></li>
                    <li>Change Gel Polish............................................................ <small class="number">$20</small> </li>     
                </ul>
            </div>
            <div class="img-hr">
                <hr>
                <img src="imgs/manicure.jpg" alt="" class="pics">
            </div>
           
        </div>
        <div class="service-detail">
            <div class="subtitle">
                <h1>Pedicure</h1>
            </div>
            <div class="desc">
                <ul>
                    <li>Express Pedicure................................................................. <small class="number">$25</small></li>
                    <li>Seasalt Pedicure.................................................................. <small class="number">$30</small></li>
                    <li>Parafin Pedicure.................................................................. <small class="number">$35</small></li>
                    <li>Deluxe Pedicure.................................................................. <small class="number">$40</small> </li>  
                    <li>Hotstone Pedicure............................................................. <small class="number">$45</small></li>
                    <li>Gel polish with Pedicure adding more...................... <small class="number">$15</small></li>
                       
                </ul>
            </div>
            <div class="img-hr">
                <hr>
                <img src="imgs/pedicure.png" alt="" class="pics">
            </div>
           
        </div>
        <div class="service-detail">
            <div class="subtitle">
                <h1>Additional Services</h1>
            </div>
            <div class="desc">
                <ul>
                    <li>Nail Shape............................................................................... <small class="number">$8</small><small id="shape">Coffin, Almond, Stiletto</small></li>
                    <li>French or American............................................................. <small class="number">$8</small></li>
                    <li>Polish Change Regular....................................................... <small class="number">$15</small></li>
                    <li>Polish Change Gel................................................................ <small class="number">$30</small> </li>  
                    <li>Nail Art..............................................................................<small class="number">$8 & up</small></li>
                    <li>Remove Nail Only................................................................ <small class="number">$13</small></li>
                       
                </ul>
            </div>
            <div class="img-hr">
                <hr>
                <img src="imgs/addi.jpg" alt="" class="pics">
            </div>
           
        </div>
        <div class="service-detail">
            <div class="subtitle">
                <h1>Acrylic Nail</h1>
            </div>
            <div class="desc">
                <ul>
                    <li>french Tip Filling.............................................................................. <small class="number">$30</small>
                    <li>Regular Full Set................................................................................ <small class="number">$40</small></li>
                    <li>French Tip........................................................................................... <small class="number">$50</small></li>
                    <li>Ombre.................................................................................................. <small class="number">$43</small> </li>  
                    <li>Pink and White..............................................................................<small class="number">$40 & up</small></li>
                    <li>Regular Fill In.................................................................................... <small class="number">$40</small></li>
                       
                </ul>
            </div>
            <div class="img-hr">
                <hr>
                <img src="imgs/sample8.jpg" alt="" class="pics">
            </div>
           
        </div>
        <div class="service-detail">
            <div class="subtitle">
                <h1>Kid</h1>
            </div>
            <div class="desc">
                <ul>
                    <li>Combo pedicure..................................................................<small class="number">$30</small></li>
                    <li>Gel Polish............................................................................... <small class="number">$20</small></li>
                    <li>Regular polish...................................................................... <small class="number">$12</small></li>
                    
                </ul>
            </div>
            <div class="img-hr">
                <hr>
                <img src="imgs/kids.jpg" alt="" class="pics">
            </div>
           
        </div>
        <div class="service-detail">
            <div class="subtitle">
                <h1>Dip</h1>
            </div>
            <div class="desc">
                <ul>
                    <li>Dipping Powder nails........................................................ <small class="number">$40</small>
                    <li>Dip with White Tip.............................................................. <small class="number">$45</small></li>
                    <li>Dip with Tip........................................................................... <small class="number">$50</small></li>
                       
                </ul>
            </div>
            <div class="img-hr">
                <hr>
                <img src="imgs/dip.png" alt="" class="pics">
            </div>
           
        </div>
        <div class="service-detail">
            <div class="subtitle">
                <h1>Waxing</h1>
            </div>
            <div class="desc">
                <ul>
                    <li>Waxing......................................................................................<small class="number">$10</small></li>
                    <li>Lip............................................................................................... <small class="number">$10</small></li>
                    <li>Facial.......................................................................................... <small class="number">$20</small></li>
                    
                </ul>
            </div>
            <div class="img-hr">
                <hr>
                <img src="imgs/waxing.jpg" alt="" class="pics">
            </div>
         
        </div>

    </section>
    <%-include('footerservice')-%>


